@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Luckiest+Guy&family=Protest+Revolution&family=Tangerine:wght@400;700&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .background {
  background-image: url("/public/img/back2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 89.86vh;
  color:white !important;
  text-align: center;
  filter: blur(5px);
} */

.heading{
  font-family: "Amita", serif;
  /* font-size: 7rem; */
}